@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    border:0;
margin:0;
padding: 0;
}

body{
width: 100%;
height: 100%;
background-color:rgba(64, 64, 64, 1);
font-family: "Montserrat Alternates", serif;
  font-weight: 500;
  font-style: normal;
}
.textHeader{
    color: rgb(255, 255, 255);
    font-size: 2vw;
    width: 100%;
    text-align: center;
min-height: 4vw;
}
.wrapper{
width:100% ;
height: 100%;
background-color:rgba(64, 64, 64, 1);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
width: 100%;
background-color:rgba(64, 64, 64, 1);
min-height: 120vw;
}
.footer{
  
    height: 5vw;
    width: 100%;
background-color:rgba(129, 129, 129, 1) ;
display: flex;
justify-content: space-around;
align-items: center;
color: black;

}

.header{
max-height: 157px;
max-width: 100%;
background-image: url(./photo_5291761723331699604_x.jpg);
filter:brightness(50%);     
background-size:auto;
}
.nav{
    display: flex;
flex-direction: column;

}
.block_1{
    display: flex;
    flex-direction: column;
height: 70vw;
width: 100%;
}
.Group1{
    padding-top: 3vw;
height: 30vw;
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
}

.title1{
    width: 60vw;
    height: 3vw;
    margin: 1vw;
    color: grey;
    font-size: 38px;
    text-align: center;
    position: absolute;
    text-shadow: 3px 3px 10px #000;
}
.imgGroup1{
    width: 45%;
    height: 75%;
background-image: url(./mosg1.jpg);
background-size: cover;
background-repeat: no-repeat;
border-radius: 10%;
}
.Group2{
    height: 35vw;
    width: 100%;
    margin: 2vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.a{
    background-image: url(32915-ikonka-telegramma-chernaja.jpg);
}
.textGroup2{}
.imgGroup2{
    width: 45%;
    height: 75%;
background-image: url(./dnk1.jpg);
background-size: cover;
background-repeat: no-repeat;
border-radius: 10%;
}
.textGroup{
    width: 45%;
    height: 32vw;
    color: white;
    font-size: 1.5vw;
    margin: 2vw;
}
.imgGroup{

}
.block_2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Group3{
    width: 100%;
    height: 100%;
    display: flex;

    text-align: center;

}
.title2{
    width: 100%;
    height: 40px;
    color: grey;
    font-size: 38px;
    text-align: center;
    text-shadow: 3px 3px 10px #000;
    margin-bottom: 3%;
}
.imgGroup3{
    width:  400px;
    height: 400px;
position: relative;
display: flex;
justify-content: center;
}
.imgGroup4{
    width: 400px;
    height: 400px;
   position: relative;
   display: flex;
   justify-content: center;
}
.imgGroup5{
    width:  400px;
   height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
}
.imgIntoGroup3{
    transition-duration: 0.5s;
    width:70%;
    height: 400px;
    background-image: url(./nano.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    border-radius: 20%;

}
.imgIntoGroup4{
    width:70%;
    height: 400px;
    background-image: url(./proces2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20%;
    transition-duration: 0.5s;
    position: absolute;
}
.imgIntoGroup5{
    width: 70%;
    height: 400px;
    background-image: url(./nano.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20%;
    transition-duration: 0.5s;
    position: absolute;
}
.imgIntoGroup3:hover{
filter: brightness(50%);
box-shadow: 1px 1px 15px 2px #000;
}
.imgIntoGroup4:hover{
filter: brightness(50%);
    box-shadow: 1px 1px 15px 2px #000;
    }
    .imgIntoGroup5:hover{
        filter: brightness(50%);
        box-shadow: 1px 1px 15px 2px #000;
        }
        span{
            color: white;
            padding: 15px;
            text-shadow: 2px 2px 2px black,
            -2px 2px 2px #000,
            2px -2px 2px #000,
            -2px -2px 2px #000;
        }
        .textImgGroup{
            max-width: 20vw;
            display: flex;
            justify-content: center;
            align-items: center;
           position: absolute;
           
        }
@media(max-width:1200px){
    .textHeader{
        font-size: 3vw;
    }
}
@media(max-width:1024px){
.textGroup{
    font-size: 2vw;
}
span{
    font-size: 2vw;
}
.footer{
    margin-top: 1vw;
}
}
@media (max-width:768px){
    .textGroup{
        font-size: 2.2vw;
    }
    span{
        text-align: center;
        font-size: 2.2vw;
    }

}
img{
    width:5vw;
    height:5vw;
}